body {
  font-family: Arial, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  background: #fdfdfd;
  max-width: 800px;
  padding: 30px;
  border-radius: 8px;
  margin: 20px;
}

.container .intro-text {
    font-style: italic;
    text-align: center;
}

h1, h2, h3 {
  margin: 10px 0;
}

h1 {
  font-size: 2rem;
  color: #111;
}

h2 {
  font-size: 1.6rem;
  color: #111;
}

h3 {
  font-size: 1.3rem;
  color: #111;
}

.highlight {
  color: #d94b2b;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.intro-text {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.section {
  margin-top: 40px;
}

.section .highlight {
  color: #d94b2b;
  line-height: 1.6;
}

.section p {
  color: #444;
  line-height: 1.6;
}

.place {
  margin-bottom: 40px;
}

.tags {
  font-size: 0.9rem;
  margin-top: 10px;
}

.tags span {
  display: inline-block;
  margin-right: 10px;
  color: #d94b2b;
  font-weight: bold;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

footer span {
  color: #d94b2b;
  font-weight: bold;
}
